.mainContent{
   background:white;
   background-repeat: no-repeat;
   background-size: cover;
    width: 100%;
    height: 100vh;

    padding-top:80px;
}

.maindiv{
    min-height: 280px;
    background: white;
   
    border-radius: 14px;
    padding: 0px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);

}


.bighead{
    font-size: 35px;
    line-height: 1;
}

.smallhead{
    font-size: 25px;
    font-weight: 600;
}
.maindivtwo{
    min-height: 350px;
    background: white;
   
    border-radius: 14px;
    padding: 0px;

}

.mylogo{
    width:25%;
    margin-top: 20px;
}

.mainhead{
    color:#4e2782;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    margin: 15px;
}



.borderdiv{
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}

.next{
    background-color: #0057b8;
    color: white;
    text-align: center;
    padding:10px 30px;
    border-radius: 40px;
    margin-top: 30px;
   

    
}

.nexttwo{
    border: 1.5px solid #0057b8;
    color: #0057b8;
    background-color: white;
    text-align: center;
    padding:10px 30px;
    border-radius: 40px;
    margin-top: 30px;
   

    
}

.primarycolor{
    color:#0057b8;
    font-weight: 700;
    font-size: 15px;
    line-height: 1.5;
}

/* .circle{
    width:50px;
    height: 50px;
    background-color: #4e2782;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.show{
    color:rgb(182, 182, 182);
    font-size:13px;
}

.smalll{
    font-size:12px;
}

.smalltwo{
    font-size:14px;
}

.showborder{
    border-bottom: 1px solid lightgrey;
}

.colorme{
    color:#4e2782;
    font-weight: 700;
}